body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

form {
  padding: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  padding: 10px 20px;
  background-color: orange;
  margin: auto -16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: black;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 4px rgba(83, 80, 80, 0.3);
}

.cards {
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  gap: 10px;
}

.dashboard {
  background-color: red;
}
